#container{
    width: 1100px;
    margin: 0 auto;
}
.slideshow-content {
    width: 100%;
    position: relative;
    margin-top: 10px;
    z-index: 1;
}
.mySlides img{
    width: 100%;
    height: 540px;
} 
.bar{
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} 
.dot:hover {
    background-color: #f80606;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
} 
@keyframes fade {
    from {
        transform: translateX(0.2%);
    } 
    to {
        transform: translateX(0);
    }
}



